<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ANIMATION</title>
	<link rel="stylesheet" href="static/animation.css">
</head>
<body>
	<div id="nav">
		<div id="navplus">
			<img src="static/images/logo.png" alt="">
			<div id="ul">
				<ul>
					<li><a href="/index">首页</a></li>
					<li><a href="/interest">我的兴趣</a></li>
					<li><a href="/animation">我的动漫</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="container">
		<div id="conplus">
			<div id="conle">
				<div id="introduce" class="conlec">
					<div id="neirong">
						<br>
						<p>动漫之路是深远而漫长的。</p>
					</div>
				</div>
				<div id="relive" class="conlec">
					<div class="posi"><img src="static/images/bian1.png" alt=""></div>
					<br>
					<br>
					<h1><b>火影忍者</b></h1>
					<br>
					<br>
					<div class="neiim">
						<img src="static/images/huoying.png" alt="">
						<div class="neicang">
							火影忍者是一部非常非常好的动漫。他建造了一个不同的世界。
							主要是围绕主人公的梦想，但是它的不同点是，根据每个人成长的
							遭遇，对他人的爱，或是坚持，或是憎恶。而鸣人就是一直坚持自己梦想的人。
							火影的优点是教会了人很多道理。
						</div>
					</div>
				</div>
				<div id="progress" class="conlec">
					<div class="posi"><img src="static/images/bian2.png" alt=""></div>
					<br>
					<br>
					<h1><b>海贼王</b></h1>
					<br>
					<br>
					<div class="neiim">
						<img src="static/images/haizei.png" alt="">
						<div class="neicang">
							海贼王是不同与火影的追逐梦想的故事。路飞追逐梦想是要
							拥有朋友，和朋友们一起见证成就梦想的时刻。而起我觉的海贼王
							的世界更大，故事更丰富。
						</div>
					</div>
				</div>
			</div>


			<div id="conri">
				<div id="int" class="conric">
					<div class="posi"><img src="static/images/bian3.png" alt=""></div>
					<br>
					<h2><b>神知</b></h2>
					<div class="ric">
						<div class="ricn">
							<img src="static/images/shenzhi.png" alt="">
						</div>
						<div class="ricn">
							《只有神知道的世界》是一部治愈系的神作。且我认为
							它是治愈系中最好的。动漫中虽然偏向后宫，但是却是讲述人们克服自己心里缺陷的有教育性的动漫。
						</div>
					</div>
				</div>
				<div id="ani" class="conric">
					<div class="posi"><img src="static/images/bian4.png" alt=""></div>
					<br>
					<h2><b>秦时明月</b></h2>
					<div class="ric">
						<div class="ricn">
							<img src="static/images/qinshi.png" alt="">
						</div>
						<div class="ricn">
							秦时我估计是中国最好的动画了。说到这里我就痛心，为什么中国动画就发展不起来呢！
							（该死的广电）
						</div>
					</div>
				</div>
				<div id="spo" class="conric">
					<div class="posi"><img src="static/images/bian5.png" alt=""></div>
					<br>
					<h2><b>星游记</b></h2>
					<div class="ric">
						<div class="ricn">
							<img src="static/images/xingyou.png" alt="">
						</div>
						<div class="ricn">
							星游记也是一部非常热血的中国动画，但是不幸的是
							因为其有抄袭海贼王的嫌疑，后来停播了。但是真的非常好！
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer">
			reaishenghuo,reaisanciyuan<br>
			2016,yyj
		</div>
	</div>
</body>
</html>