<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MYSELF</title>
	<link rel="stylesheet" href="static/index.css">
</head>
<body>
	<div id="nav">
		<div id="navplus">
			<img src="static/images/logo.png" alt="">
			<div id="ul">
				<ul>
					<li><a href="index">首页</a></li>
					<li><a href="interest">我的兴趣</a></li>
					<li><a href="animation">我的动漫</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="container">
		<div id="conplus">
			<div id="conle">
				<div id="introduce" class="conlec">
					<div id="neirong">
						<p><span>注意：本网站设计者世界观，价值观正常。</span></p>
						<br>
						<p>此网站特色纯属个人兴趣</p>
					</div>
				</div>
				<div id="relive" class="conlec">
					<div class="posi"><img src="static/images/bian1.png" alt=""></div>
					<br>
					<br>
					<h1><b>RELIVE</b></h1>
					<br>
					<br>
					<div class="neiim">
						<img src="static/images/relive.png" alt="">
						<div class="neicang">
							我叫杨义军，男，目前是个大学生。<br>
							在我成长过程中发生了许多事情。<br>
							其中对我影响最大的便是这个迁移。<br>
							因为迁移，环境的不适应，所以有一段时间我很抑郁。<br>
							我经常做噩梦，不和他人交流<br>
							但是因为有了动画的陪伴，我克服了困难。<br>
							所以我把这个标题定义为了“新生”（RELIVE）。<br>
							而这个图片，也正是鸣人孤独小时候。
						</div>
					</div>
				</div>
				<div id="progress" class="conlec">
					<div class="posi"><img src="static/images/bian2.png" alt=""></div>
					<br>
					<br>
					<h1><b>PROGRESS</b></h1>
					<br>
					<br>
					<div class="neiim">
						<img src="static/images/progress.png" alt="">
						<div class="neicang">
							我是一个理想主义者，每件事都想做好。<br>
							为此我要十分努力，为了梦想永不放弃。<br>
							就像路飞一样，向着自己的梦想，坚定不移的走下去。<br>
							而这个标题（PROGRESS）也代表着前进，奋发。<br>
						</div>
					</div>
				</div>
			</div>


			<div id="conri">
				<div id="int" class="conric">
					<div class="posi"><img src="static/images/bian3.png" alt=""></div>
					<br>
					<h2><b>INTEREST</b></h2>
					<div class="ric">
						<p>我有许多兴趣。</p>
						<p>凡是我不懂得我都有兴趣。</p>
						<p>小学的科学课，</p>
						<p>中学的物理，化学，生物，</p>
						<p>大学的各种专业课，</p>
						<p>都是我所感兴趣的。</p>
						<p>我想要的是了解各种事物，</p>
						<p>而不是照搬前人的。</p>
					</div>
				</div>
				<div id="ani" class="conric">
					<div class="posi"><img src="static/images/bian4.png" alt=""></div>
					<br>
					<h2><b>ANIMATION</b></h2>
					<div class="ric">
						<p>前面我已经提到了，</p>
						<p>动画对我的影响是十分大的。</p>
						<p>他改变了我的一生。</p>
						<p>我非常喜欢动画。</p>
						<p>这种喜欢已经不能用言语表达，</p>
						<p>反正我想不到何时我会放弃动画。</p>
					</div>
				</div>
				<div id="spo" class="conric">
					<div class="posi"><img src="static/images/bian5.png" alt=""></div>
					<br>
					<h2><b>SPORTS</b></h2>
					<div class="ric">
						<p>体育是我的第二大爱好。</p>
						<p>从小时候我就喜欢运动。</p>
						<p>最开始我是玩篮球的，</p>
						<p>后来我也喜欢上了乒乓球。</p>
						<p>不过可惜的是我身边没几个人爱玩乒乓球。</p>
					</div>
				</div>
			</div>
		</div>


		<div id="footer">
			reaishenghuo,reaisanciyuan<br>
			2016,yyj
		</div>
	</div>
</body>
</html>