<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>INTERESTS</title>
	<link rel="stylesheet" href="static/interest.css">
</head>
<body>
	<div id="nav">
		<div id="navplus">
			<img src="static/images/logo.png" alt="">
			<div id="ul">
				<ul>
					<li><a href="index">首页</a></li>
					<li><a href="interest">我的兴趣</a></li>
					<li><a href="animation">我的动漫</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="container">
		<div id="conplus">
			<div id="conle">
				<div id="introduce" class="conlec">
					<div id="neirong">
						<p>我的兴趣是很多的,我会介绍几个我的兴趣。</p>
						<p>还有一点，我对艺术没兴趣。</p>
						<p>这个网页的排版是我设计最好的，我真的不会其他排版了</p>
					</div>
				</div>
				<div id="relive" class="conlec">
					<div class="posi"><img src="static/images/bian1.png" alt=""></div>
					<br>
					<br>
					<h1><b>动漫</b></h1>
					<br>
					<br>
					<div class="neiim">
						<img src="static/images/sishen.png" alt="">
						<div class="neicang">
							动漫是我的最爱，我非常不明白，为什么有些人会反对动漫。
							很多人会把小时候的动画片等义动漫。
							我认为这是错误的，动漫是一个文化，是一个能教会他人道理的文化。
							从《火影忍者》中我学会了言出必行，追逐梦想，还有爱。
							从《海贼王》中我学会了追逐梦想，珍惜朋友。
							从《死神》中我学会了为他人付出，承担自己的责任。
							从《家庭教师》中我学会了如何成长，如何面对自己的软肋。
						</div>
					</div>
				</div>
				<div id="progress" class="conlec">
					<div class="posi"><img src="static/images/bian2.png" alt=""></div>
					<br>
					<br>
					<h1><b>野蛮其体魄</b></h1>
					<br>
					<br>
					<div class="neiim">
						<img src="static/images/tiyu.png" alt="">
						<div class="neicang">
							我的体质从小就很差，只有勤加运动，才能拥有一个健康的身体。
							小时候学篮球时只是懂得投篮，后来我看了《灌篮高手》《黑子的篮球》，
							我才发现篮球的美妙之处。
							我也很喜欢乒乓球，它不像篮球一样。
							只有掌握好力度和方向才能准确的把球打回去。
							而且通过体育我也和朋友们加深了友谊。
						</div>
					</div>
				</div>
			</div>


			<div id="conri">
				<div id="int" class="conric">
					<div class="posi"><img src="static/images/bian3.png" alt=""></div>
					<br>
					<h2><b>名著</b></h2>
					<div class="ric">
						<div class="ricn">
							<img src="static/images/sanguo.png" alt="">
							<div class="ricnn">
								我很喜欢历史。
								《三国演义》就是我最喜欢的。
								里面有各种斗智斗勇的故事。
							</div>
						</div>
						<div class="ricn">
							<img src="static/images/xiyou.png" alt="">
							<div class="ricnn">
								我也很喜欢《西游记》，
								很喜欢里面的神话故事。
							</div>
						</div>
					</div>
				</div>
				<div id="ani" class="conric">
					<div class="posi"><img src="static/images/bian4.png" alt=""></div>
					<br>
					<h2><b>小说</b></h2>
					<div class="ric">
						<div class="ricn">
							<img src="static/images/doupo.png" alt="">
							<div class="ricnn">
								斗破是我看的第一本小说，里面有激动的情节。土豆的书是偏向激动情节的，让人看了很激动。
							</div>
						</div>
						<div class="ricn">
							<img src="static/images/zhetian.png" alt="">
							<div class="ricnn">
								遮天这本书并不是特别激动人心，但是辰东的书都是很有哲理的，里面总有先秦诸子的故事与他们的著作。
							</div>
						</div>
					</div>
				</div>
				<div id="spo" class="conric">
					<div class="posi"><img src="static/images/bian5.png" alt=""></div>
					<br>
					<h2><b>杂志</b></h2>
					<div class="ric">
						<div class="ricn">
							<img src="static/images/yilin.png" alt="">
							<div class="ricnn">
								意林是一本很好的杂志，我是从高中开始读的。里面有很多教育人的故事。
							</div>
						</div>
						<div class="ricn">
							<img src="static/images/duzhe.png" alt="">
							<div class="ricnn">
								读者也是我从高中开始读的，这两本书我认为都很相似，都是教育人的。
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="footer">
			reaishenghuo,reaisanciyuan<br>
			2016,yyj
		</div>
	</div>
</body>
</html>